body{
  background: url('../img/background.jpg') no-repeat center top fixed;
  background-size: cover;
}
.register-form{
  background-color: #fff;

  input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 0 10px;
  }
}
